{% extends "base.html" %}

{% block title %}
	About
{% endblock %}

{% block about_nav %}
	<a href="./about" style="text-shadow:0px 0px 1px black;" class="nav-link">ABOUT</a>
{% endblock %}

{% block content %}
			<div style="--overlay-color: #bbe6e0;" class="sticker-box">
				<div class="box-info">
					<h2>Welcome</h2>
					<p>
Warwick Vocaloid Society (WVS) is Warwick's student-run society for anyone with an interest in vocaloid. The society is for anyone who would like to meet others who share these interests, or who just want to join us for one of the many events we run each academic year.
					</p>
				</div>
				
				<img class="sticker" src={{ url_for('static', filename='assets/welcome.png') }}>
			</div>
			</br>

			<div style="--overlay-color: #f5c3c3;" class="sticker-box">
				<div class="box-info">
					<h2>Events</h2>
					<p>
          Our regular viewings take place in MS.02 (on the ground floor of the Maths Building) , starting at 19:00 every Tuesday during term time. These events incorporate time for socialising as well as watching anime, so they're an excellent opportunity to meet others and have fun. In addition to this, we also hold many socials and other events across the year!
					</p>
				</div>
				
				<img class="sticker" src={{ url_for('static', filename='assets/luka.png') }}>
			</div>
			</br>

			<div style="--overlay-color: #fcf8a8;" class="sticker-box">
				<div class="box-info">
					<h2>Socials</h2>
					<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit ligula arcu. Suspendisse potenti. Suspendisse cursus, lorem id efficitur rhoncus, massa mi porttitor enim, quis auctor urna nisl et mi. Praesent eleifend euismod nisl sed cursus. Nulla quis purus erat. Donec justo orci, pretium id magna id, vulputate suscipit magna. Donec vitae libero in ex finibus lacinia pretium eu est. Curabitur id arcu risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque pellentesque nisi molestie volutpat pretium. Quisque condimentum ultrices massa. Ut fermentum augue nisl, ac dictum nulla placerat eget. Curabitur gravida neque quis mi vehicula accumsan. Vivamus ultrices nisl sed libero lobortis, vel egestas ligula volutpat.

					</p>

					<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit ligula arcu. Suspendisse potenti. Suspendisse cursus, lorem id efficitur rhoncus, massa mi porttitor enim, quis auctor urna nisl et mi. Praesent eleifend euismod nisl sed cursus. Nulla quis purus erat. Donec justo orci, pretium id magna id, vulputate suscipit magna. Donec vitae libero in ex finibus lacinia pretium eu est. Curabitur id arcu risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque pellentesque nisi molestie volutpat pretium. Quisque condimentum ultrices massa. Ut fermentum augue nisl, ac dictum nulla placerat eget. Curabitur gravida neque quis mi vehicula accumsan. Vivamus ultrices nisl sed libero lobortis, vel egestas ligula volutpat.

					</p>
				</div>
				
				<img class="sticker" src={{ url_for('static', filename='assets/social.png') }}>
			</div>
			</br>
		</div>
{% endblock %}
