<!DOCTYPE html>
<html lang="en">

<head>
  <!-- stuff -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- styling -->
  <link rel=stylesheet href={{ url_for('static', filename='styles.css' ) }}>

  <!-- title -->
  <title>
    {% block title %}{% endblock %}
  </title>

  <!-- favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

  <!-- navbar -->
  <nav id="navbar">
      <a href="/about" id="navbar-logo"><img src={{ url_for('static', filename='assets/logo.webp' ) }} alt="WVS Logo"></a>

      <ul class="nav-list">
        <li class="nav-list-item">
          {% block about_nav %}
          <a href="./about" class="nav-link">ABOUT</a>
          {% endblock %}
        </li>

        <li class="nav-list-item">
          {% block events_nav %}
          <a href="./events" class="nav-link">EVENTS</a>
          {% endblock %}
        </li>

        <li class="nav-list-item">
          {% block contact_nav %}
          <a href="./contact" class="nav-link">CONTACT</a>
          {% endblock %}
        </li>

        <li class="nav-list-item">
          {% block showcase_nav %}
          <a href="./showcase" class="nav-link">SHOWCASE</a>
          {% endblock %}
        </li>
      </ul>
  </nav>

  <!-- content -->
  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <!-- SCRIPTS -->
  <script src="{{ url_for('static',filename='navbar.js') }}"></script>
</body>

</html>