<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- stuff -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styling -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel=stylesheet href={{ url_for('static', filename='styles.css') }}>

    <!-- title -->
    <title>
      WVS - {% block title %}{% endblock %}
    </title>
  </head>
  <body>

    <!-- navbar -->
    <nav id="navbar">
      <a href="/about" id="navbar-logo"><img src={{ url_for('static', filename='assets/logo.webp') }} alt="WVS Logo"></a>

      <ul class="nav-list">
        <li class="nav-list-item">
          {% block about_nav %}
          <a href="./about" class="nav-link">ABOUT</a>
          {% endblock %}
        </li>

       <li class="nav-list-item">
          {% block calendar_nav %}
          <a href="./calendar" class="nav-link">CALENDAR</a>
          {% endblock %}
        </li>

        <li class="nav-list-item">
          {% block resources_nav %}
          <a href="./resources" class="nav-link">RESOURCES</a>
          {% endblock %}
        </li>

        <li class="nav-list-item">
          {% block contact_nav %}
          <a href="./contact" class="nav-link">CONTACT</a>
          {% endblock %}
        </li>
      </ul>
    </nav>

    <!-- content -->
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
